p{
    font-family: Arial;
    color: #d10019;
    padding-left: 20px;
}
label{
    font-family: Arial;
    color: #383838;
}
.css-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
}

.css-form input.ng-valid.ng-touched {
    background-color: #78FA89;
}

.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
}
.partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
}

.form-group .help-block {
    display: none;
}

.form-group.has-error .help-block {
    display: block;
}
.btn-xlarge {
    padding: 12px 50px;
    font-size: 22px;
line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}